/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100px;
}

/* hero section */

.hero {
    margin: 0 auto;
    height: 343px;
    width: 720px;
    background-image: url("images/bridge.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-greeting {
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    background: #1D3557;
    padding: 5px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#hero-info {
    margin-top: 0;
    width: 500px;
    font-weight: 700;
    font-size: 18.72px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #457B9D;
    border-radius: 10px;
    padding: 10px 30px;
}

/* activities */

.activities {
    width: 720px;
    height: 378px;
    background: #F1FAEE;
    margin: 0 auto;
}

h3 {
    margin-top: 0;
    padding-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #1D3557;
}

.activities-img {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

h4 {
    width: 183px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #1D3557
}

p {
    width: 198px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #1D3557;
}

.activities-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}